.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    list-style: none;
    padding: 20px;
    margin: 20px;
    background: #999;
    border: 1px dashed #666;
    /* min-width: 1000px;; */
    height:auto;
    overflow:auto;
    border-radius: 25px;
}
@media(min-width: 300px){
    .container{
        background-color: rgb(146, 62, 122);
        grid-template-columns: repeat(1,1fr)
    }

}
@media (min-width: 600px) {
    .container {
      background-color: cyan;
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (min-width: 850px) {
    .container {
      background-color: rgb(184, 165, 60);
      grid-template-columns: repeat(3, 1fr);
    }
  }