.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start; 
    background: #eee;
    border: 1.5px solid #c00;
    border-radius: 25px;
    margin-bottom: 20px;
    position: relative;  
    height:700px;
    width: 100%;
    background:linear-gradient(to right, rgb(196, 94, 94),#eee 20%);  
    overflow:auto;  
}
.section{

        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        padding-right: 5px;
        margin-left:10px; 
        margin-top:120px;
        overflow: auto;
    
}
.title {
    color: #c00;
    /* font-size :1.8rem; */
    font-size: 150%;
}

.pubDate {
    font-weight: bold;
    font-size: 100%;
}
p{
font-size: 105%; 
}
