.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    list-style: none;
    padding: 20px;
    margin: 20px;
    background: #999;
    border: 1px dashed #666;
    min-width: 1000px;;
    height:auto;
    overflow:auto;
    border-radius: 25px;
  
    
}
