.slugButton {
    background: #c00;
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    right: 60px;
    border-radius: 25px;
    height:8%;
    width:80%;
    top:620px;
    overflow:auto;
    min-width: auto;
    min-height: auto; 
}